.env.example
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/intract-plugin-example.iml
.idea/intract.iml
.idea/misc.xml
.idea/modules.xml
.idea/pyProjectModel.xml
.idea/vcs.xml
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
dist/
build/
*.egg-info/
.coverage
htmlcov/

# Environment variables
.env
